body {
	font-family: sans-serif;
	margin: auto;
	width: 100%;
	background-color: #efe;
}

header {
	margin-left: 1em;
}

#frupics {
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.post {
	margin-left: 2em;
	margin-bottom: 1em;
	min-height: 50px;
	border-bottom: 1px solid #8f0;
}

.img {
	border-radius: 10px;
	max-width: 100%;
}
