body {
	margin: auto;
	width: 100%;
}

#frupics {
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.post {
	margin: 0px 60px;
	padding: 15px;
	min-height: 50px;
}

.img {
	border-radius: 15px;
	margin: 0px 10px;
	max-width: 100%;
}
